/* Default header styles */
$background-boxes: .55;
$uthsc-orange-75 :  rgba(247,127,0,0.75);
$uthsc-green-75  :  rgba(0,106,77,0.75);
$uthsc-orange    :  rgba(247,127,0,1);
$uthsc-green     :  rgba(0,106,77,1);


body {
  line-height: 1 !important;
&#page{
  overflow: hidden;
  background-image: url("../images/7.jpg");
  background-size: cover;
  background-position: center;
}
}
.fc-calendar .fc-row > div > span.fc-date, h1, h2, h3, h4, h5, h6, p, .fc-calendar .fc-row > div > div a, .fc-calendar .fc-row > div > div span {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  line-height: 1 !important;
  text-rendering: optimizeLegibility !important;
  font-size: 1.9rem !important;
}
.fc-calendar-event {
  text-shadow: 2px 2px 1px #222222;
}
h1, h2, h3, h4, h5, h6, p {
  line-height: 1 !important;
}
.uthsc-its-logo {
  padding: 1.5% 0 0 0;
  width: 100%;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #ffffff;
  line-height: 1 !important;
}
.subheader {
  line-height: 1 !important;
  color: #ffffff;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}
.sign-box {
  height: 75%;
  margin-top: 2.5%;
  border-radius: 5px;
  padding: 2%;
  img {
    width: 100%;
  }
}
.weather {
  overflow: hidden;
  padding-top: 16px !important;
  position: relative;
  width: 100%;
  bottom: 0;
}
.weather-iframe {
  position: relative;
  top: -46px;
}
.events {
  height: 59%;
  overflow: hidden;
}
.news {
  height: 14%;
  padding-top: 3vh;
}
.time {
  padding: 20px;
}
.one {
  background-color: $gainsboro;
}
.two {
   background-color: rgba(255,255,255,$background-boxes);
  height: 120vh;
  position: absolute;
  top: -43px;
  margin-right: 15px !important;
}


a {
  color: #000 !important;
  &:after {
    content: '\A';
    white-space: pre;
  }
}
li p {
  margin-bottom: 0;
  padding: 4px;
}
li {
  list-style-type: none;
  background: $iron;
  &:nth-child(odd) {background: $gainsboro;}
}
.fc-calendar {
  margin: 0 !important;
  border-radius: 0 !important;
  background: rgba(255,255,255,$background-boxes);
}
.fc-calendar .fc-row > div > span.fc-date {
  text-shadow: 2px 2px 1px #333 !important;
}

.fc-calendar .fc-row > div.fc-today {
  background: $uthsc-green-75 !important;
  display: inline-table;
  margin-left: -20px;
  border-radius: 0 30px 30px 0 !important;
}
//, .fc-content .fc-date, .fc-content .fc-weekday
.fc-today span.fc-date, .fc-today span.fc-weekday {
  display: none !important;
}
.fc-calendar .fc-row > div > span.fc-weekday {
  padding-left: 15px;
}
.fc-past.fc-content {
  color: whitesmoke !important;
  text-transform: inherit !important;
  margin-bottom: 1px !important;
  background-color: $uthsc-orange-75 !important;
  display: inline-table !important;
  padding: 6px 30px !important;
  border-radius: 0 30px 30px 0 !important;
  margin-left: -20px;
}
.fc-calendar-event {
  display: inline;
}
span#clock {
  background-color: transparent !important;
}
span.uthsc-event {
  margin-left: -15px;
  padding: 0.6rem !important;
  &.its-event:before {
    content: "ITS";
    background-color: $uthsc-orange;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
    bottom: 0.3rem;
    position: relative;
  }
  &.campus-event:before {
    content: "CAMPUS";
    background-color: $uthsc-green;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
    bottom: 0.3rem;
    position: relative;
  }
}
.fc-calendar .fc-row > div {
  overflow: inherit !important;
}
img.attachment-thumbnail {
  border: 1px solid #999;
  border-radius: 3%;
}
.fc-calendar .fc-row > div > div a, .fc-calendar .fc-row > div > div span {
  text-transform: none !important;
  display: inline-table !important;
  white-space: nowrap;
  background: rgba(255,255,255,0) !important;
}
.fc-calendar .fc-row > div {
  float: none;
  min-height: 50px;
  box-shadow: inset 0 -1px rgba(255,255,255,0.2) !important;
}
.fc-body {
  position: absolute;
  top: -220px;
}
.add-class-for-second-half .fc-body {
  top: -930px;
}

.fc-calendar .fc-row > div > span.fc-weekday {
  color: #666;
}
img.qr-code {
  width: 3rem;
}